{% extends "layout.html" %}

{% block body %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <form method="POST">
        <textarea name="content" placeholder="New Post"></textarea>
        <button type="submit">Post</button>
    </form>

{% endblock %}